$control-height: 2.75rem !default;

@mixin control {
    box-shadow: none;
    appearance: none;
    border-width: 1px;
    position: relative;
    border-style: solid;
    vertical-align: top;
    display: inline-flex;
    height: $control-height;
    justify-content: flex-start;

    &:focus,
    &:active {
        outline: none
    }
    
    &[disabled] {
        cursor: not-allowed
    }
}
