$content-margin: 1.5rem !default;
$content-color: $body-color !default;
$content-line-height: theme('lineHeight.loose') !default;

$content-img-border-radius: 0 !default;

$content-table-padding: 0.5rem 0.75rem !default;
$content-table-border-color: theme('colors.grey.500') !default;
$content-table-heading-font-weight: theme('fontWeight.semibold') !default;

.content {
    overflow: auto;
    color: $content-color;
    line-height: $content-line-height;
    
    li + li {
        margin-top: 0.25rem;
    }
    
    p,
    dl,
    ol,
    ul,
    hr,
    pre,
    table,
    blockquote {
        &:not(:last-child) {
            margin-bottom: $content-margin;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:not(:last-child) {
            margin-bottom: $content-margin / 2;
        }

        &.subtitle {
            + .title {
                margin-top: -($content-margin / 2);
            }
        }

        &.title {
            + .subtitle {
                margin-top: -($content-margin / 2);
            }
        }
    }

    hr {
        margin-top: 0;
    }

    table {
        width: 100%;
        
        td,
        th {
            vertical-align: top;
            border-style: solid;
            border-width: 0 0 1px;
            padding: $content-table-padding;
            border-color: $content-table-border-color;

            // TinyMCE fix
            font-size: $body-font-size;
            font-family: $body-font-family;
        }
        
        thead {
            td,
            th {
                text-align: left;
                border-width: 0 0 2px;
                font-weight: $content-table-heading-font-weight;
            }
        }
        
        tfoot {
            td,
            th {
                border-width: 2px 0 0;
            }
        }

        tbody {
            tr {
                &:last-child {
                    td,
                    th {
                        border-bottom-width: 0;
                    }
                }
            }
        }
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
        height: auto !important;
        border-radius: $content-img-border-radius;

        @screen md {
            &.image-left,
            &.image-right {
                max-width: 50%;
                margin-bottom: $content-margin;
            }

            &.image-left {
                float: left !important;
                margin-right: $content-margin;
            }

            &.image-right {
                float: right !important;
                margin-left: $content-margin;
            }
        }
    }

    ul {
        padding-left: 1.5rem;
        list-style-type: disc;

        ul { 
            list-style-type: circle; 
            list-style-position: inside; 
        }

        ol { 
            list-style-type: lower-latin; 
        }
    }

    ol {
        padding-left: 1.5rem;
        list-style-type: decimal;

        ul { 
            list-style-type: circle; 
            list-style-position: inside; 
        }

        ol { 
            list-style-type: lower-latin; 
        }
    }

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}
