$input-padding: 0.5rem 0.75rem !default;
$input-border-radius: config('borderRadius.default') !default;

$input-color: config('colors.grey-darker') !default;
$input-hover-color: config('colors.grey-darkest') !default;
$input-disabled-color: config('colors.grey-light') !default;

$input-placeholder-color: config('colors.grey') !default;
$input-hover-placeholder-color: config('colors.grey-dark') !default;
$input-disabled-placeholder-color: config('colors.grey') !default;

$input-border-color: config('colors.grey-light') !default;
$input-hover-border-color: config('colors.grey') !default;
$input-active-border-color: config('colors.grey-light') !default;
$input-disabled-border-color: config('colors.grey-light') !default;

$input-background-color: config('colors.white') !default;
$input-hover-background-color: config('colors.white') !default;
$input-disabled-background-color: config('colors.grey-lighter') !default;

$select-arrow-color: config('colors.black') !default;
$select-disabled-arrow-color: config('colors.grey-light') !default;

$checkbox-radius: config('borderRadius.default') !default;
$checkbox-border-color: config('colors.grey-light') !default;
$checkbox-background-color: transparent !default;

$checkbox-hover-border-color: config('colors.grey') !default;
$checkbox-hover-background-color: transparent !default;

$checkbox-focus-border-color: config('colors.grey-dark') !default;
$checkbox-focus-background-color: transparent !default;

$checkbox-checked-color: config('colors.white') !default;
$checkbox-checked-border-color: config('colors.blue') !default;
$checkbox-checked-background-color: config('colors.blue') !default;

$checkbox-checked-hover-color: config('colors.white') !default;
$checkbox-checked-hover-border-color: config('colors.blue-dark') !default;
$checkbox-checked-hover-background-color: config('colors.blue-dark') !default;

$label-size: $text-size !default;
$label-margin: config('margin.2') !default;
$label-color: config('colors.black') !default;
$label-asterisk-color: config('colors.red') !default;
$label-weight: config('fontWeights.semibold') !default;

$help-size: config('textSizes.xs') !default;
$help-color: config('colors.grey') !default;

$field-margin: config('margin.2') !default;

@mixin input {
    @include control;

    color: $input-color;
    padding: $input-padding;
    border-color: $input-border-color;
    border-radius: $input-border-radius;
    background-color: $input-background-color;

    @include placeholder {
        color: $input-placeholder-color;
    }

    &:hover {
        color: $input-hover-color;
        border-color: $input-hover-border-color;
        background-color: $input-hover-background-color;

        @include placeholder {
            color: $input-hover-placeholder-color;
        }
    }

    &:focus,
    &:active {
        border-color: $input-active-border-color;
    }

    &[disabled] {
        color: $input-disabled-color;
        border-color: $input-disabled-border-color;
        background-color: $input-disabled-background-color;

        @include placeholder {
            color: $input-disabled-placeholder-color;
        }
    }
}

.input,
.textarea {
    @include input;

    width: 100%;
    max-width: 100%;
}

.textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
    max-height: 600px;

    &:not([rows]) {
        min-height: 8rem;
    }

    &[rows] {
        height: initial;
    }
}

.checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;

    + label {
        cursor: pointer;
        user-select: none;
        position: relative;
        color: $label-color;
        line-height: 1.5rem;
        display: inline-flex;
        padding-left: 1.5rem;

        &:before {
            left: 0;
            top: 50%;
            content: '';
            width: 1rem;
            height: 1rem;
            position: absolute;
            transform: translateY(-50%);
            border-radius: $checkbox-radius;
            border: solid 1px $checkbox-border-color;
            background-color: $checkbox-background-color;
        }

        &:hover {
            &:before {
                border-color: $checkbox-hover-border-color;
                background-color: $checkbox-hover-background-color;
            }
        }
    }

    &[type='checkbox'] {
        &:checked + label {
            &:before {
                border-color: $checkbox-checked-border-color;
                background-color: $checkbox-checked-background-color;
            }

            &:after {
                top: 50%;
                content: '';
                left: 0.5rem;
                width: 0.3rem;
                height: 0.6rem;
                position: absolute;
                background-color: transparent;
                border-right: 2px solid $checkbox-checked-color;
                border-bottom: 2px solid $checkbox-checked-color;
                transform: translate(-50%, calc(-50% - 1px)) rotate(45deg);
            }

            &:hover {
                &:before {
                    border-color: $checkbox-checked-hover-border-color;
                    background-color: $checkbox-checked-hover-background-color;
                }

                &:after {
                    border-right-color: $checkbox-checked-hover-color;
                    border-bottom-color: $checkbox-checked-hover-color;
                }
            }
        }
    }

    &[type='radio'] {
        + label {
            &:before {
                border-radius: 50%;
            }
        }

        &:checked + label {
            &:before {
                background-color: transparent;
                border: solid 1px $checkbox-border-color;
            }

            &:after {
                top: 50%;
                content: '';
                left: 0.2rem;
                width: 0.6rem;
                height: 0.6rem;
                position: absolute;
                border-radius: 50%;
                transform: translateY(-50%);
                background-color: $checkbox-checked-background-color;
            }

            &:hover {
                &:after {
                    background-color: $checkbox-checked-hover-background-color;
                }
            }
        }
    }

    &:focus {
        + label {
            &:before {
                border-color: $checkbox-focus-border-color;
                background-color: $checkbox-focus-background-color;
            }
        }
    }
}

.select {
    max-width: 100%;
    position: relative;
    vertical-align: top;
    display: inline-block;
    
    &:not(.multiple) {
        height: $control-height;
    }
    
    &:not(.multiple) {
        &:after {
            top: 50%;
            z-index: 4;
            content: '';
            display: block;
            right: 1.125rem;
            width: 0.625rem;
            height: 0.625rem;
            border-radius: 2px;
            position: absolute;
            margin-top: -0.3rem;
            pointer-events: none;
            transform-origin: center;
            border-left: solid 3px $select-arrow-color;
            border-bottom: solid 3px $select-arrow-color;
            transform: translateY(-0.25rem) rotate(-45deg);
        }
    }

    select {
        @include input;
        
        outline: none;
        display: block;
        cursor: pointer;
        max-width: 100%;
        
        &::-ms-expand {
            display: none;
        }

        &:not([multiple]) {
            padding-right: 2.5rem;
        }

        &[multiple] {
            padding: 0;
            height: auto;

            option {
                padding: 0.5rem 1rem;
            }
        }
    }

    &:not(.multiple):hover {
        &:after {
            border-color: $select-arrow-color;
        }
    }

    &.disabled {
        &:after {
            border-color: $select-disabled-arrow-color;
        }
    }

    &.w-full {
        select {
            width: 100%
        }
    }
}

.label {
    display: block;
    color: $label-color;
    font-size: $label-size;
    font-weight: $label-weight;

    &:not(:last-child) {
        margin-bottom: $label-margin;
    }
}

.help {
    display: block;
    color: $help-color;
    font-size: $help-size;
    margin-top: config('margin.1');
}

.field {
    &:not(:last-child) {
        margin-bottom: $field-margin;
    }

    &.required {
        .label {
            &:first-child {
                &:after {
                    content: '*';
                    padding-left: 0.25rem;
                    color: $label-asterisk-color;
                }
            }
        }
    }

    &.addons {
        display: flex;
        justify-content: flex-start;

        .control {
            &:not(:last-child) {
                margin-right: -1px;
            }

            &:not(:first-child):not(:last-child) {
                .button,
                .input,
                .select select {
                    border-radius: 0;
                }
            }

            &:first-child {
                .button,
                .input,
                .select select {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &:last-child {
                .button,
                .input,
                .select select {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            .button,
            .input,
            .select select {
                &:not([disabled]) {
                    &:hover {
                        z-index: 2
                    }

                    &:focus,
                    &:active {
                        z-index: 3;

                        &:hover {
                            z-index: 4;
                        }
                    }
                }
            }
        }
    }
}

.g-recaptcha {
    display: flex;

    @media (max-width: 370px) {
        transform: scale(0.77);
        justify-content: center;
    }
}
