$input-padding: 0.5rem 0.75rem !default;
$input-border-radius: theme('borderRadius.default') !default;

$input-color: theme('colors.grey.600') !default;
$input-hover-color: theme('colors.grey.700') !default;
$input-focus-color: $input-hover-color !default;
$input-disabled-color: theme('colors.grey.400') !default;

$input-placeholder-color: theme('colors.grey.500') !default;
$input-hover-placeholder-color: theme('colors.grey.600') !default;
$input-focus-placeholder-color: $input-hover-placeholder-color !default;
$input-disabled-placeholder-color: theme('colors.grey.500') !default;

$input-border-color: theme('colors.grey.400') !default;
$input-hover-border-color: theme('colors.grey.500') !default;
$input-focus-border-color: $input-hover-border-color !default;
$input-disabled-border-color: theme('colors.grey.400') !default;

$input-background-color: theme('colors.white') !default;
$input-hover-background-color: theme('colors.white') !default;
$input-focus-background-color: $input-hover-background-color !default;
$input-disabled-background-color: theme('colors.grey.300') !default;

$select-arrow-color: theme('colors.grey.500') !default;
$select-hover-arrow-color: theme('colors.grey.600') !default;
$select-focus-arrow-color: $select-hover-arrow-color !default;
$select-disabled-arrow-color: theme('colors.grey.400') !default;

$select-placeholder-color: theme('colors.grey.500') !default;
$select-hover-placeholder-color: theme('colors.grey.600') !default;
$select-focus-placeholder-color: $select-hover-placeholder-color !default;
$select-disabled-placeholder-color: theme('colors.grey.400') !default;

$checkbox-top: 0.25rem !default;
$checkbox-radius: theme('borderRadius.default') !default;

$checkbox-border-color: theme('colors.grey.400') !default;
$checkbox-background-color: transparent !default;

$checkbox-hover-border-color: theme('colors.grey.500') !default;
$checkbox-hover-background-color: transparent !default;

$checkbox-focus-border-color: theme('colors.grey.600') !default;
$checkbox-focus-background-color: transparent !default;

$checkbox-checked-color: theme('colors.blue.500') !default;
$checkbox-checked-border-color: theme('colors.grey.500') !default;
$checkbox-checked-background-color: transparent !default;

$checkbox-checked-hover-color: theme('colors.blue.600') !default;
$checkbox-checked-hover-border-color: theme('colors.grey.600') !default;
$checkbox-checked-hover-background-color: transparent !default;

$checkbox-checked-focus-color: theme('colors.blue.600') !default;

$radio-border-color: theme('colors.grey.400') !default;
$radio-background-color: transparent !default;

$radio-hover-border-color: theme('colors.grey.500') !default;
$radio-hover-background-color: transparent !default;

$radio-focus-border-color: theme('colors.grey.600') !default;
$radio-focus-background-color: transparent !default;

$radio-checked-color: theme('colors.blue.500') !default;
$radio-checked-hover-color: theme('colors.blue.600') !default;
$radio-checked-focus-color: theme('colors.blue.600') !default;

$label-font-size: $body-font-size !default;
$label-margin: theme('margin.2') !default;
$label-color: theme('colors.black') !default;
$label-asterisk-color: theme('colors.red.500') !default;
$label-font-weight: theme('fontWeight.semibold') !default;

$help-font-size: theme('fontSize.xs') !default;
$help-color: theme('colors.grey.500') !default;

$field-margin: theme('margin.2') !default;

@mixin input {
    @include control;

    color: $input-color;
    padding: $input-padding;
    border-color: $input-border-color;
    border-radius: $input-border-radius;
    background-color: $input-background-color;

    @include placeholder {
        color: $input-placeholder-color;
    }

    &:hover {
        color: $input-hover-color;
        border-color: $input-hover-border-color;
        background-color: $input-hover-background-color;

        @include placeholder {
            color: $input-hover-placeholder-color;
        }
    }

    &:focus,
    &:active {
        color: $input-focus-color;
        border-color: $input-focus-border-color;
        background-color: $input-focus-background-color;

        @include placeholder {
            color: $input-focus-placeholder-color;
        }
    }

    &[disabled] {
        color: $input-disabled-color;
        border-color: $input-disabled-border-color;
        background-color: $input-disabled-background-color;

        @include placeholder {
            color: $input-disabled-placeholder-color;
        }
    }
}

.input,
.textarea {
    @include input;

    width: 100%;
    max-width: 100%;
}

.textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
    max-height: 600px;

    &:not([rows]) {
        min-height: 8rem;
    }

    &[rows] {
        height: initial;
    }
}

.checkbox {
    z-index: -1;
    width: 1rem;
    height: 1rem;
    opacity: 0.01;
    position: absolute;
    margin-top: $checkbox-top;

    + label {
        cursor: pointer;
        user-select: none;
        position: relative;
        color: $label-color;
        line-height: 1.5rem;
        display: inline-flex;
        padding-left: 1.5rem;

        &:before {
            left: 0;
            content: '';
            width: 1rem;
            height: 1rem;
            top: $checkbox-top;
            position: absolute;
            border-radius: $checkbox-radius;
            border: solid 1px $checkbox-border-color;
            background-color: $checkbox-background-color;
        }

        &:hover {
            &:before {
                border-color: $checkbox-hover-border-color;
                background-color: $checkbox-hover-background-color;
            }
        }
    }

    &[type='checkbox'] {
        &:checked + label {
            &:before {
                border-color: $checkbox-checked-border-color;
                background-color: $checkbox-checked-background-color;
            }

            &:after {
                content: '';
                left: 0.5rem;
                width: 0.3rem;
                height: 0.6rem;
                position: absolute;
                background-color: transparent;
                top: calc(#{$checkbox-top} + 2px);
                transform: translateX(-50%) rotate(45deg);
                border-right: 2px solid $checkbox-checked-color;
                border-bottom: 2px solid $checkbox-checked-color;
            }

            &:hover {
                &:before {
                    border-color: $checkbox-checked-hover-border-color;
                    background-color: $checkbox-checked-hover-background-color;
                }

                &:after {
                    border-right-color: $checkbox-checked-hover-color;
                    border-bottom-color: $checkbox-checked-hover-color;
                }
            }
        }

        &:focus {
            + label {
                &:before {
                    border-color: $checkbox-focus-border-color;
                    background-color: $checkbox-focus-background-color;
                }

                &:after {
                    border-right-color: $checkbox-checked-focus-color;
                    border-bottom-color: $checkbox-checked-focus-color;
                }
            }
        }
    }

    &[type='radio'] {
        + label {
            &:before {
                border-radius: 50%;
            }
        }

        &:checked + label {
            &:before {
                border: solid 1px $radio-border-color;
                background-color: $radio-background-color;
            }

            &:after {
                content: '';
                left: 0.25rem;
                width: 0.5rem;
                height: 0.5rem;
                position: absolute;
                border-radius: 999px;
                top: calc(#{$checkbox-top} + 0.25rem);
                background-color: $radio-checked-color;
            }

            &:hover {
                &:after {
                    border-color: $radio-hover-border-color;
                    background-color: $radio-hover-background-color;
                }

                &:after {
                    background-color: $radio-checked-hover-color;
                }
            }
        }

        &:focus {
            + label {
                &:before {
                    border-color: $radio-focus-border-color;
                    background-color: $radio-focus-background-color;
                }

                &:after {
                    background-color: $radio-checked-focus-color;
                }
            }
        }
    }
}

.select {
    max-width: 100%;
    position: relative;
    vertical-align: top;
    display: inline-block;

    &:not(.multiple) {
        height: $control-height;
    }

    &:not(.multiple) {
        &:after {
            top: 50%;
            width: 0;
            height: 0;
            z-index: 4;
            content: '';
            display: block;
            right: 1.125rem;
            position: absolute;
            pointer-events: none;
            transform-origin: center;
            transform: translateY(-0.1rem);
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
            border-top: solid 5px $select-arrow-color;
        }
    }

    select {
        @include input;

        outline: none;
        display: block;
        cursor: pointer;
        max-width: 100%;
        color: $select-placeholder-color;

        &::-ms-expand {
            display: none;
        }

        &:not([multiple]) {
            padding-right: 2.5rem;
        }

        &[multiple] {
            padding: 0;
            height: auto;

            option {
                padding: 0.5rem 1rem;
            }
        }

        &:hover {
            color: $select-hover-placeholder-color;
        }

        &:focus {
            color: $select-focus-placeholder-color;
        }
    }

    &:not(.multiple):hover {
        &:after {
            border-top-color: $select-hover-arrow-color;
        }
    }

    &:not(.multiple):focus {
        &:after {
            border-top-color: $select-focus-arrow-color;
        }
    }

    &.disabled {
        &:after {
            border-color: $select-disabled-arrow-color;
        }

        select {
            color: $select-disabled-placeholder-color;
        }
    }

    &.w-full {
        select {
            width: 100%
        }
    }
}

.label {
    display: block;
    color: $label-color;
    font-size: $label-font-size;
    font-weight: $label-font-weight;

    &:not(:last-child) {
        margin-bottom: $label-margin;
    }
}

.help {
    display: block;
    color: $help-color;
    font-size: $help-font-size;
    margin-top: theme('margin.1');
}

.field {
    &:not(:last-child) {
        margin-bottom: $field-margin;
    }

    &.required {
        .label {
            &:first-child {
                &:after {
                    content: '*';
                    padding-left: 0.25rem;
                    color: $label-asterisk-color;
                }
            }
        }
    }

    &.addons {
        display: flex;
        justify-content: flex-start;

        .control {
            &:not(:last-child) {
                margin-right: -1px;
            }

            &:not(:first-child):not(:last-child) {
                .button,
                .input,
                .select select {
                    border-radius: 0;
                }
            }

            &:first-child {
                .button,
                .input,
                .select select {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &:last-child {
                .button,
                .input,
                .select select {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            .button,
            .input,
            .select select {
                &:not([disabled]) {
                    &:hover {
                        z-index: 2
                    }

                    &:focus,
                    &:active {
                        z-index: 3;

                        &:hover {
                            z-index: 4;
                        }
                    }
                }
            }
        }
    }
}

.control {
    &.control-icon-right {
        position: relative;

        .icon {
            top: 1px;
            right: 1px;
            bottom: 1px;
            width: 3rem;
            z-index: 10;
            height: auto;
            position: absolute;
            color: $input-placeholder-color;
            background-color: $input-background-color;

            &:hover {
                color: $input-color;
            }
        }
    }
}
