$icon-dimension: 1.5rem !default;

$icon-sizes: (
    small: 1rem,
    medium: 2rem,
    large: 3rem
) !default;

.icon {
    align-items: center;
    display: inline-flex;
    width: $icon-dimension;
    height: $icon-dimension;
    justify-content: center;

    @each $name, $size in $icon-sizes {
        &.icon-#{$name} {
            width: $size;
            height: $size;
        }
    }
}
