.image {
    display: block;
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    @each $ratio, $padding in $image-ratios {
        &.ratio-#{$ratio} {
            padding-top: $padding;
            @extend %ratio-image-position;
        }
    }
}

%ratio-image-position {
    img {
        @include overlay;

        width: 100%;
        height: 100%;
    }
}
