$image-sizes: 60 !default;

.image {
    display: block;
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    &.image-1by1,
    &.image-1by2,
    &.image-1by3,
    &.image-2by1,
    &.image-2by3,
    &.image-3by1,
    &.image-3by2,
    &.image-3by4,
    &.image-3by5,
    &.image-4by3,
    &.image-4by5,
    &.image-5by3,
    &.image-5by4,
    &.image-9by16,
    &.image-16by9 {
        img {
            @include overlay;

            width: 100%;
            height: 100%;
        }
    }

    &.image-1by1 {
        padding-top: 100%;
    }

    &.image-1by2 {
        padding-top: 200%;
    }
    
    &.image-1by3 {
        padding-top: 300%;
    }

    &.image-2by1 {
        padding-top: 50%;
    }

    &.image-2by3 {
        padding-top: 150%;
    }

    &.image-3by1 {
        padding-top: 33.3333%;
    }

    &.image-3by2 {
        padding-top: 66.6666%;
    }

    &.image-3by4 {
        padding-top: 133.3333%;
    }

    &.image-3by5 {
        padding-top: 166.6666%;
    }

    &.image-4by3 {
        padding-top: 75%;
    }

    &.image-4by5 {
        padding-top: 125%;
    }

    &.image-5by3 {
        padding-top: 60%;
    }

    &.image-5by4 {
        padding-top: 80%;
    }

    &.image-9by16 {
        padding-top: 177.7777%;
    }

    &.image-16by9 {
        padding-top: 56.25%;
    }

    @each $size in $image-sizes {
        &.image-#{$size}x#{$size} {
            width: $size * 1px;
            height: $size * 1px;
        }
    }
}
