$table-color: theme('colors.grey.700') !default;
$table-border-color: theme('colors.grey.400') !default;
$table-background-color: theme('colors.white') !default;

$table-row-hover-background-color: theme('colors.grey.200') !default;

table {
    width: 100%;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    vertical-align: middle;
}

.table {
    color: $table-color;
    white-space: nowrap;
    background-color: $table-background-color;

    thead {
        tr {
            th,
            td {
                border-bottom: 2px solid $table-border-color;
            }
        }
    }

    tbody {
        tr {
            th,
            td {
                border-bottom: 1px solid $table-border-color;
            }

            &:hover {
                th,
                td {
                    background-color: $table-row-hover-background-color;
                }
            }
        }
    }

    thead,
    tbody {
        tr {
            th {
                padding: 1.25rem;
            }
    
            td {
                padding: 1rem 1.25rem;
            }
            
            th,
            td {
                &:first-child {
                    padding-left: 2rem;
                }
    
                &:last-child {
                    padding-right: 2rem;
                }
    
                &.narrow {
                    width: 1%;
                    text-align: center;
                }
            }
        }
    }
}
