$title-color: $body-color !default;
$title-font-size: config('textSizes.3xl') !default;
$title-font-family: config('fonts.sans') !default;
$title-font-weight: config('fontWeights.bold') !default;

$subtitle-color: $body-color !default;
$subtitle-font-size: config('textSizes.sm') !default;
$subtitle-font-family: config('fonts.serif') !default;
$subtitle-font-weight: config('fontWeights.normal') !default;

.title,
.subtitle {
    word-break: break-word;
}

.title {
    color: $title-color;
    font-size: $title-font-size;
    font-family: $title-font-family;
    font-weight: $title-font-weight;
}

.subtitle {
    color: $subtitle-color;
    font-size: $subtitle-font-size;
    font-family: $subtitle-font-family;
    font-weight: $subtitle-font-weight;
}
