$title-color: $body-color !default;
$title-font-size: theme('fontSize.3xl') !default;
$title-font-family: theme('fontFamily.sans') !default;
$title-font-weight: theme('fontWeight.bold') !default;

$subtitle-color: $body-color !default;
$subtitle-font-size: theme('fontSize.sm') !default;
$subtitle-font-family: theme('fontFamily.serif') !default;
$subtitle-font-weight: theme('fontWeight.normal') !default;

.title,
.subtitle {
    word-break: break-word;
}

.title {
    color: $title-color;
    font-size: $title-font-size;
    font-family: $title-font-family;
    font-weight: $title-font-weight;
}

.subtitle {
    color: $subtitle-color;
    font-size: $subtitle-font-size;
    font-family: $subtitle-font-family;
    font-weight: $subtitle-font-weight;
}
