$card-padding: 2rem !default;
$card-shadow: theme('boxShadow.lg') !default;
$card-background-color: theme('colors.white') !default;
$card-border-radius: theme('borderRadius.default') !default;

.card {
    box-shadow: $card-shadow;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
}

.card-image {
    img {
        border-radius: $card-border-radius $card-border-radius 0 0;
    }
}

.card-body {
    padding: $card-padding;
}
