$dropdown-padding: 0.5rem 0 !default;
$dropdown-font-size: theme('fontSize.sm') !default;
$dropdown-border-color: theme('colors.grey-light') !default;
$dropdown-border-radius: theme('borderRadius.default') !default;
$dropdown-background-color: theme('colors.white') !default;

$dropdown-z-index: theme('zIndex.20') !default;
$dropdown-min-width: theme('width.48') !default;
$dropdown-shadow: theme('boxShadow.default') !default;

$dropdown-menu-padding: 0.25rem !default;

$dropdown-item-padding: 0.3rem 1rem !default;
$dropdown-item-line-height: theme('lineHeight.normal') !default;

$dropdown-item-hover-color: theme('colors.black') !default;
$dropdown-item-hover-background-color: theme('colors.grey-lighter') !default;

$dropdown-item-active-color: theme('colors.white') !default;
$dropdown-item-active-background-color: theme('colors.blue') !default;

.dropdown {
    position: relative;
    vertical-align: top;
    display: inline-flex;

    &.open {
        .dropdown-menu {
            display: block;
        }
    }

    &:not(.right) {
        .dropdown-menu {
            left: 0;
        }
    }

    &.right {
        .dropdown-menu {
            right: 0;
        }
    }

    &:not(.up) {
        .dropdown-menu {
            top: 100%;
            padding-top: $dropdown-menu-padding;
        }
    }

    &.up {
        .dropdown-menu {
            bottom: 100%;
            padding-bottom: $dropdown-menu-padding;
        }
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: $dropdown-z-index;
    min-width: $dropdown-min-width;
}

.dropdown-scroll {
    overflow: auto;
    max-height: 12rem;
}

.dropdown-content {
    padding: $dropdown-padding;
    box-shadow: $dropdown-shadow;
    border-radius: $dropdown-border-radius;
    border: solid 1px $dropdown-border-color;
    background-color: $dropdown-background-color;
}

.dropdown-item {
    display: block;
    text-align: left;
    white-space: nowrap;
    font-size: $dropdown-font-size;
    padding: $dropdown-item-padding;
    line-height: $dropdown-item-line-height;

    &:hover {
        color: $dropdown-item-hover-color;
        background-color: $dropdown-item-hover-background-color;
    }

    &.active {
        color: $dropdown-item-active-color;
        background-color: $dropdown-item-active-background-color;
    }
}

.dropdown-divider {
    height: 1px;
    margin: 0.5rem 0;
    background-color: $dropdown-border-color;
}
