$modal-z-index: 50 !default;
$modal-padding: 3rem !default;
$modal-background-color: rgba(0, 0, 0, 0.85) !default;

.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    position: fixed;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: $modal-z-index;

    &.is-active {
        display: flex;
    }
}

.modal-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: $modal-background-color;
}

.modal-content {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    max-width: calc(100vw - #{$modal-padding} * 2);
    max-height: calc(100vh - #{$modal-padding} * 2);

    &.h-full {
        min-height: calc(100vh - #{$modal-padding} * 2);
    }
}
