$body-size: 16px !default;
$text-size: config('textSizes.sm') !default;
$body-family: config('fonts.sans') !default;
$body-weight: config('fontWeights.normal') !default;
$body-line-height: config('leading.normal') !default;

$body-color: config('colors.black') !default;
$body-background-color: config('colors.white') !default;

$strong-weight: config('fontWeights.bold') !default;
$heading-weight: config('fontWeights.bold') !default;

$link-color: config('colors.blue') !default;
$link-hover-color: config('colors.blue-dark') !default;

$hr-background-color: config('colors.grey') !default;

$blockquote-border-color: config('colors.primary') !default;
$blockquote-background-color: config('colors.white') !default;

html {
    min-width: 300px;
    font-size: $body-size;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $body-background-color;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

body,
button,
input,
select,
textarea {
    font-size: $text-size;
    font-family: $body-family;
}

body {
    color: $body-color;
    font-weight: $body-weight;
    line-height: $body-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $heading-weight;
}

b,
strong {
    font-weight: $strong-weight;
}

a {
    cursor: pointer;
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
    }
}

hr {
    height: 1px;
    background-color: $hr-background-color;
}

blockquote {
    padding: 0.75rem 1.5rem;
    background-color: $blockquote-background-color;
    border-left: 5px solid $blockquote-border-color;
}

[v-cloak] {
    display: none;
}

@responsive {
    .border-box {
        box-sizing: border-box;
    }
    
    .content-box {
        box-sizing: content-box;
    }
}
