$base-font-size: 16px !default;

$body-font-size: theme('fontSize.sm') !default;
$body-font-family: theme('fontFamily.sans') !default;
$body-font-weight: theme('fontWeight.normal') !default;
$body-line-height: theme('lineHeight.normal') !default;

$body-color: theme('colors.black') !default;
$body-background-color: theme('colors.white') !default;

$heading-1-font-size: theme('fontSize.2xl') !default;
$heading-2-font-size: theme('fontSize.xl') !default;
$heading-3-font-size: theme('fontSize.lg') !default;
$heading-4-font-size: theme('fontSize.base') !default;
$heading-5-font-size: theme('fontSize.sm') !default;
$heading-6-font-size: theme('fontSize.xs') !default;

$heading-font-weight: theme('fontWeight.bold') !default;

$link-color: theme('colors.blue.500') !default;
$link-hover-color: theme('colors.blue.600') !default;

$strong-font-weight: theme('fontWeight.bold') !default;

$hr-background-color: theme('colors.grey.500') !default;

$blockquote-border-color: theme('colors.grey.500') !default;
$blockquote-background-color: theme('colors.white') !default;

html {
    min-width: 300px;
    text-size-adjust: 100%;
    font-size: $base-font-size;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $body-background-color;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

body,
button,
input,
select,
textarea {
    font-size: $body-font-size;
    font-family: $body-font-family;
}

body {
    color: $body-color;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $heading-font-weight;
}

h1 {
    font-size: $heading-1-font-size;
}

h2 {
    font-size: $heading-2-font-size;
}

h3 {
    font-size: $heading-3-font-size;
}

h4 {
    font-size: $heading-4-font-size;
}

h5 {
    font-size: $heading-5-font-size;
}

h6 {
    font-size: $heading-6-font-size;
}

b,
strong {
    font-weight: $strong-font-weight;
}

a {
    cursor: pointer;
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
    }
}

hr {
    height: 1px;
    background-color: $hr-background-color;
}

blockquote {
    padding: 0.75rem 1.5rem;
    background-color: $blockquote-background-color;
    border-left: 5px solid $blockquote-border-color;
}

[v-cloak] {
    display: none;
}
