$body-size: 16px !default;
$text-size: config('textSizes.sm') !default;
$body-family: config('fonts.sans') !default;
$body-weight: config('fontWeights.normal') !default;
$body-line-height: config('leading.normal') !default;

$body-color: config('colors.black') !default;
$body-background-color: config('colors.white') !default;

$link-color: config('colors.blue') !default;
$link-hover-color: config('colors.blue-dark') !default;

$hr-background-color: config('colors.black') !default;

html {
    min-width: 300px;
    text-size-adjust: 100%;
    font-size: $body-size;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $body-background-color;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

body,
button,
input,
select,
textarea {
    font-size: $text-size;
    font-family: $body-family;
}

body {
    color: $body-color;
    font-weight: $body-weight;
    line-height: $body-line-height;
}

a {
    cursor: pointer;
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
    }
}

hr {
    height: 1px;
    background-color: $hr-background-color;
}

[v-cloak] {
    display: none;
}
